<!-- program should run over http server -->
<!DOCTYPE html>
<html lang="en" data-ng-app="nameApp">
<!--tells that for this whole app..use a module named "nameApp"  
Remark...there may be also..multiple ng-app..so u could have more than one app in a single page which are independent-->
<head>
    <meta charset="UTF-8">
    <title>Angular Controller</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.js"></script>
    
    <script> 
        //global function-----which is not better for complex application..as it is exposed to hidden this....
        var nameApp=angular.module('nameApp',[]);
        //FOCUS: MODULE NAME AND VAR NAME AND ng_app="DXXX" ALL THREE SHOULD BE SAME
        //first argument is name of module and second is list of dependencies...
        //so right now this module does not have any dependencies.
        nameApp.controller('nameCtrl',['$scope','$http',function(scope,http){//array having 3 element 2 string 3rd one is function
        	//now scope and http inside fun argument can have any other name...
        	// there is third way of injecting dependencies..go to docs and explore
        	http.get('nameList.json').success(function(data) {
        		scope.names=data;//array of object...with the data of json files...same as in previous example..instead of file .datas
        		console.log(scope.names);
        	}) ;      	
           }] );
        
    </script>
</head>
<body data-ng-controller="nameCtrl">
	Search<input type='text' data-ng-model='query'>
	<!-- search Implementation -->
	<table>
		<tr>
			<th>First Names</th>
			<th>Last Names</th>
		</tr>
		<tr data-ng-repeat="name in names | filter:query  |orderBy:'-firstName'">
			<!-- filter inside ng repeat focus on way of writting -->
			<!-- here filter search for the both field...i.e firstName and secondNames -->
			<!-- sorting done by firstName here see the way of using -->
			<!-- putting - sort in reverse order -->
			<!--orde matters in filter..ther r designed just like unix pipes..executed in the order of appearing
			so best way to sort after filter-->
			<!-- <tr data-ng-repeat="name in names |orderBy:'-firstName'| filter:query "> -->
			<td>{{name.firstName}}</td>
			<td>{{name.lastName}}</td>
		</tr>
	</table>
</body>
</html>