<!DOCTYPE html>
<html lang="en" data-ng-app>
<!--  ng-app are angular directives they extend the vocabulary of html.teaches to html new tricks U can also create ur directives!!!-->
<head>
	<meta charset="UTF-8">
	<title>Angular Js</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.js"></script>
</head>
<body >
    Name:<input data-ng-model="name" type="text"/><br>
<!--    ng-model directive---it tell that the context of this input field  is bound to "name" property of angular model -->
    Name:<input data-ng-model="name" type="text"/>
    <br>
    Name:<input data-ng-model="name" type="text"/>
    <br>
    
    Hello {{name}}
<!--    Line 12 is--data binding-- data "name is bound with the input field."->
</body>
</html>